<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring2.dao.PostDAO">
	<select id="selectBoardList" resultType="BoardVO">
		select * from board order by bo_num asc
	</select>
	<select id="selectPostList" resultType="PostVO">
		select * from post where po_del = "N" 
		<if test="cri.po_bo_num != 0">
			and po_bo_num = #{cri.po_bo_num}
		</if>
		order by ${cri.orderBy}
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCountPostList" resultType="int">
		select count(*) from post where po_del = "N" 
		<if test="cri.po_bo_num != 0">
			and po_bo_num = #{cri.po_bo_num}
		</if>
	</select>
</mapper>
