<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.PostDAO">
	
	<select id="selectPostList" resultType="kr.kh.spring.model.vo.PostVO">
		select * from post order by po_num desc
	</select>
	<select id="selectBoardList" resultType="kr.kh.spring.model.vo.BoardVO">
		select * from board order by bo_num
	</select>
	<insert id="insertBoard">
		insert into board(bo_name) values(#{bo_name})
	</insert>
	<delete id="deleteBoard">
		delete from board where bo_num = #{bo_num}
	</delete>
	<update id="updateBoard">
		update board 
		set
			bo_name = #{board.bo_name}
		where
			bo_num = #{board.bo_num}
	</update>
	<insert id="insertPost">
		insert into post(po_title, po_content, po_me_id, po_bo_num)
		values(#{post.po_title}, #{post.po_content}, #{post.po_me_id}, #{post.po_bo_num})
	</insert>
</mapper>
