<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1 class="mt-3 mb-3">게시글 목록</h1>
		<div class="mb-3 d-flex">
			<a th:href="@{/post/list/0}" class="btn btn-outline-success mr-2">전체</a>
			<a th:each="board : ${boardList}" th:text="${board.bo_name}" th:href="@{/post/list/{num}(num=${board.bo_num})}" class="btn btn-outline-success mr-2"></a>
		</div>
		<div>
			<a th:href="@{/post/insert}" class="btn btn-outline-success mb-2">게시글 등록</a>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
					<th>추/비추</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${list}">
					<td th:text="${post.po_num}">1</td>
					<td>
						<a th:href="@{/post/detail/{num}(num=${post.po_num})}" th:text="${post.po_title}"></a>
					</td>
					<td th:text="${post.po_me_id}">작성자</td>
					<td th:text="${post.po_date}">작성일</td>
					<td th:text="${post.po_view}">조회수</td>
					<td th:text="${post.po_up}+'/'+${post.po_down}">추/비추</td>
				</tr>
				<tr th:if="${list.size() == 0}">
					<td colspan="6" class="text-center">등록된 게시글이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>